.portfolio {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

.portfolio h1 {
  font-size: 2.5rem; 
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.1;
}

.portfolio h2 {
  font-size: 1.5rem;
  letter-spacing: -0.01em;
  line-height: 1.3;
  padding-bottom: 0.3rem;
}

.portfolio h3 {
  font-size: 1.2rem;
  margin: 1.5em 0 0.5em;
  font-weight: 550;
}

.portfolio p strong, 
.portfolio li strong {
  font-weight: 550;    
}

.portfolio li {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}